body {
    background-image: url("anne.jpg");
}


div {
    border: 1px solid black; 
    box-sizing: content-box;
} 

h1 {
    color: rgba(139, 44, 0, 0.904);
    font-family: cursive;
    font-size: 300%;
    margin-top: 0.7em;
    font-weight: Bold;
    text-align: center;
}

button {
    background: #9ee0ad;
    color: rgb(72, 69, 235);
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black; 
    font-size: 25px; 
    border-radius: 28px; 
    margin-bottom: 23px;

}

.grid {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-gap: 3px;
    background-color: lightgray;
    display: auto;
    border: .5px solid black;
}

.cell {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    background: rgb(240, 189, 169);
}

